# Добавьте секретный ключ Вашего проекта
SECRET_KEY=

# Добавте настройки для подключения к базе данных (ДБ должна быть создана)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_PASSWORD=

# Напишите Вашу почту
EMAIL_HOST_USER=
# Напишите пароль для Приложения Яндекс, а не пароль входа на Почту
EMAIL_HOST_PASSWORD=

# Добавьте секретный ключ из Личного кабинета на Stripe
STRIPE_API_KEY=

# Добавьте настройки для celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=